.container {
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12)
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.fields {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}